# Dependencies
node_modules/

# Builds
dist/
backend/dist/
frontend/dist/
.angular/

# Environnement / secrets
.env
*.env
!*.env.example

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
*.swp

# Tests / coverage
coverage/

# Prisma
backend/prisma/*.db

note/

